.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
shadows.DONE
stamp-h1
xcomposite.pc
*~
*.3
Xcomposite.man
*.o
*.la
*.lo
libXcomposite-*.tar.*
ChangeLog
tags
